extends layout

block content
  h1 #{title}
  
  h3 name
  p #{name}
  
  h3 mission
  p #{mission}
  
  h3 about
  p #{about}
  
  h3 can check in?
  p #{canCheckIn}
  
  h3 can post?
  p #{canPost}
  
  h3 category
  p #{category}
  
  h3 category list
  ul
      each val in categoryList
          li  #{val.name}
  
  h3 company overview
  p #{companyOverview}
  
  h3 cover
  p 
      img(src="#{cover.source}") 
      
  h3 display subtext
  p #{displaySubtext}
  
  h3 email
  p #{email}
  
  h3 founded
  p #{founded}
  
  h3 is community page?
  p #{isCommunityPage}
  
  h3 is published?
  p #{isPublished}
  
  h3 is unclaimed?
  p #{isUnclaimed}
  
  h3 is verified?
  p #{isVerified}
  
  h3 link
  p 
      a(href="#{link}" target="_blank") link to Facebook page
      
  h3 location
  ul
      each val, key in location
          li  #{key} : #{val}
          
  h3 place type
  p #{placeType}
  
  h3 verification status
  p #{verificationStatus}
  
  h3 website
  p 
      a(href="#{website}" target="_blank") link to website
      
  h3 picture
  p 
      img(src="#{pictureURL}") 
      
  h3 products
  p #{products}

